.NoteBody {
}
.NoteBody pre {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.NoteBody blockquote {
  border-left: 5px solid #ccc;
  padding: 10px 10px 10px 20px;
}

.NoteBody blockquote > *:first-child {
  margin-top: 0;
}
.NoteBody blockquote > *:last-child {
  margin-bottom: 0;
}
